<div class="container">
  <nav class="navbar navbar-custom">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed float-left" style="margin-left: 20px; float: left;" data-toggle="collapse" data-target="#bs-navbar1" aria-expanded="false">

          <span class="sr-only"></span>

          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>  
        </button>
      </div>
    </div>
    <div class="collapse navbar-collapse" id="bs-navbar1">
      <ul class="nav navbar-nav">
        <li><a class="nav-link" routerLink="/">Recherche</a></li>
        <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="/">Création <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a class="nav-link" routerLink="/" >Employeur</a></li>
            <li><a class="nav-link" routerLink="/">RAG TC</a></li>
            <li><a class="nav-link" routerLink="/">Spécificités</a></li>
            <li><a class="nav-link" routerLink="/">Victime</a></li>
            <li><a class="nav-link" routerLink="/">Dossier</a></li>
          </ul>
        </li>

        <li><a class="nav-link" routerLink="/">Verrou</a></li>

        <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" class="nav-link" href="/">Agenda <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a class="nav-link" routerLink="/">Liste</a></li>
            <li><a class="nav-link" routerLink="/">Création</a></li>
          </ul>
        </li>

        <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" class="nav-link" href="/">Tech <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a routerLink="/profile"> Attribution Profil</a></li>
            <li><a class="nav-link" routerLink="/user">Gestion Userid</a></li>
            <li><a class="nav-link" routerLink="/">Paramètres Système</a></li>
            <li><a class="nav-link" routerLink="/">Traité Réass.</a></li>
            <li><a class="nav-link" routerLink="/">Réass. Défaut</a></li>
          </ul>
        </li>
        <li><a class="nav-link" routerLink="/">Home</a></li>
      </ul>
    </div>
  </nav>
</div>