<hr/>
<div class="headerDiv"><span class="text-danger font-weight-bold headingOne" id="headOne">RESEARCH</span>
<span class="text-primary font-weight-bold small headingSubtext" id="defination">Search Your Policy</span></div>
<hr/>
<div class="container-fluid">
<form class="form-inline">
    <div class="form-group">
      <label for="policy" class="mr-sm-2">Policy:</label>
      <input type="text" class="form-control mr-sm-2" id="policy"/>
      <label for="employer" class="mr-sm-2">Employeer : </label>
      <input type="text" class="form-control mr-sm-2" id="employer"/>
    </div> 

</form>
</div>