.border-side{
    border-right: 2px;
    border-right-color:#d9dcdf;
    border-right-style: solid;
    height:100vh;
}

.pdLeft{
    padding-left:2%;
}

@media only screen and (max-width: 1090px) {
    .display-none {
        display:none;
    }
}